/*解决iphone 苹果手机浏览器$(document).on("click",function(){})点击无效的问题*/

.iphone_cursor {
  cursor: pointer
}

/*页面主题颜色*/

.f-r {
  color: #f4635e !important;
}

.f-y {
  color: #fbc203 !important;
}

.f-b {
  color: #32b7f0 !important;
}

.f-g {
  color: #41c416 !important;
}

.bg-r {
  background-color: #f4635e !important;
}

.bg-y {
  background-color: #fbc203 !important;
}

.bg-b {
  background-color: #32b7f0 !important;
}

.bg-g {
  background-color: #41c416 !important;
}

/*icons*/

.icon-shop {
  padding: .1rem 0 .1rem .96rem;
  background: url(../img/icon-shop.gif) left no-repeat;
  background-size: .68rem;
}

.icon-delete {
  position: absolute;
  display: block;
  width: .72rem;
  height: .72rem;
  right: .16rem;
  top: .16rem;
  background: url(../img/icon-delete.png) center no-repeat;
  background-size: .72rem;
}

.icon-house {
  display: block;
  width: .62rem;
  height: .6rem;
  background: url(../img/icons.jpg) -9.14rem -1.94rem no-repeat;
  background-size: 20.4rem;
  float: left;
  margin-right: .3rem;
}

.icon-trash {
  display: block;
  width: 0.38rem;
  height: 0.52rem;
  background: url(../img/icon-trash.png) center no-repeat;
  background-size: .38rem;
}

.icon-remove {
  width: .44rem;
  height: .44rem;
  display: block;
  position: absolute;
  top: .38rem;
  right: .44rem;
  background: url(../img/icon-remove.png) center no-repeat;
  background-size: .44rem;
}

/*css3盒子模型*/

.flexBox {
  display: -webkit-flex;
  /* Safari */
  display: flex;
}

.fb-v-center {
  -webkit-align-items: center;
  align-items: center;
}

.fb-h-center {
  -webkit-justify-content: center;
  justify-content: center;
}

/*多出文字省略号*/

.textOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*清除浮动*/

.clearFix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*swiper dot hack*/

.swiper-pagination-bullet-active {
  background: #41c416 !important
}

#app {
  display: block;
  padding-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.to_left {
  float: left;
}

.to_right {
  float: right;
}

input::-webkit-input-placeholder {
  color: #D4D4D4;
}

.blk {
  display: block;
}

.clickable_span {
  color: #32B7F0;
}

.p_notice {
  text-align: left;
  font-size: 0.53rem;
  color: #8A8A8A;
  line-height: 0.57rem;
  margin-bottom: .46rem;
}

.full_btn {
  width: 100%;
  display: block;
  text-align: center;
  height: 1.6rem;
  color: #fff;
  border-radius: 0.2rem;
  line-height: 1.6rem;
  font-size: .67rem;
  margin-bottom: .96rem;
}

/*如果需要头部固定，在#app上添加.fixed_head即可*/

.fixed_head {
  padding-top: 1.75rem;
}

.fixed_head #app_head_c {
  position: fixed;
  top: 0;
  left: 0;
}