@import "header.css";
@import "footer.css";
#form_pages {
  padding-top: .84rem;
  padding-bottom: 1rem;
}

#form_pages .user_face_upload {
  position: relative;
  width: 4.12rem;
  margin: 0 auto 1rem;
}

#form_pages .find_pwd {
  visibility: hidden;
}

#form_pages .user_face_upload input[type='file'] {
  display: block;
  width: 4.12rem;
  height: 4.12rem;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

#form_pages .user_face_upload .userface {
  width: 4.12rem;
  height: 4.12rem;
  border-radius: 2.06rem;
  object-fit: cover;
  margin-bottom: .38rem;
}

#form_pages .user_face_upload .upload_notice {
  text-align: center;
  font-size: 0.33rem;
  color: #B8B8B8;
  line-height: 0.6rem;
}

#form_pages .input_box {
  padding: 0 1.2rem;
}

#form_pages .input_box .input_bar {
  width: 100%;
  border-bottom: 1px #d6d6d6 solid;
  font-size: 0.67rem;
  color: #676767;
  line-height: 2rem;
  margin-bottom: .6rem
}

#form_pages .input_box .yzm_input {
  margin-bottom: 1.2rem;
}

#form_pages .small_ph_box .yzm_input {
  margin-bottom: .6rem;
}

#form_pages .input_box .input_bar span {
  display: block;
  margin-right: 1.32rem;
  width: 2.08rem;
  text-align: right;
}

#form_pages .small_ph_box .input_bar span {
  margin-right: .36rem !important;
}

#form_pages .small_ph_box .input_bar span {
  margin-right: 1.32rem;
  width: 3.4rem;
}

#form_pages .input_box .input_bar input {
  display: block;
  flex: 1;
  font-size: 0.67rem;
  color: #151515;
  line-height: 1rem;
}

#form_pages .small_ph_box .input_bar input {
  font-size: 0.6rem !important;
}

#form_pages .input_box .yzm_input input, #form_pages .small_ph_box .yzm_sms_input input {
  width: 3rem;
}

#form_pages .input_box .input_bar .yzm_img {
  width: 3.46rem;
  margin-left: 1rem;
}

#form_pages .input_box .input_bar .sms_yzm_btn {
  display: block;
  width: 3.46rem;
  height: 0.94rem;
  background: #F7F7F7;
  border-radius: 0.2rem;
  border: 1px #d6d6d6 solid;
  font-size: 0.53rem;
  color: #999999;
  line-height: 0.96rem;
}

#form_pages .input_box .input_bar button[disabled='disabled'] {
  background-color: #B9B8B8;
}

#form_pages .input_box .login_options {
  padding-bottom: 2rem;
}

#form_pages .input_box .login_options a {
  font-size: 0.53rem;
  color: #676767;
  line-height: 0.57rem;
}

.alipay_binding {
  padding-top: 3.54rem !important;
}

#form_pages .ab_title {
  font-size: 0.8rem;
  text-align: center;
  color: #8A8A8A;
  line-height: 0.8rem;
  margin-bottom: 2.9rem;
}

#form_pages .input_box .agreement {
  height: 0.54rem;
  font-size: 0.53rem;
  font-family: MicrosoftYaHeiLight;
  color: #676767;
  line-height: 0.57rem;
  margin-bottom: 1.1rem;
}

#form_pages .input_box .agreement input[type="checkbox"] {
  content: "\a0";
  display: inline-block;
  vertical-align: middle;
  margin-right: .1rem;
  border: 1px solid #C7C7C7;
  width: 0.6rem;
  height: 0.6rem;
  background: #fff;
  border-radius: 0.2rem;
  margin-top: -0.1rem
}

#form_pages .input_box .agreement input[type="checkbox"]:checked {
  background-color: #C7C7C7;
  background-clip: content-box;
  padding: .08rem;
}

#form_pages button[disabled="disabled"] {
  background: #676767;
}

.customize_amount {
  padding: .58rem 0 .6rem !important;
}

.input_value_box {
  margin-bottom: .82rem;
}

#page_input, .cur_coupon, .input_layer {
  display: block;
  width: 8.94rem;
  background: #fff;
  border-radius: 0.2rem;
  border: 1px #E1E1E1 solid;
  padding: .38rem .32rem;
  font-size: 0.37rem;
  color: #AAAAAA;
  line-height: 0.45rem;
  margin: 0 auto;
  margin-bottom: .41rem;
}

.s_keyboard {
  width: 8.94rem;
  padding: .59rem .48rem .5rem;
  border: 1px #CDCDCD solid;
  border-radius: 0.2rem;
  margin: 0 auto;
}

.s_keyboard>.num_btn {
  width: 2rem;
  height: 1.4rem;
  margin: 0 .94rem .66rem 0;
  background: #F3F3F3;
  text-align: center;
  line-height: 1.4rem;
  font-size: 0.8rem;
  font-family: Cambria-Bold;
  color: #969696;
  border-radius: .1rem;
  float: left;
  font-weight: bold;
}

.s_keyboard>.num_btn:nth-child(3n) {
  margin-right: 0
}

.num_btn:nth-child(10), .num_btn:nth-child(11), .num_btn:nth-child(12) {
  margin-bottom: 0
}

.s_keyboard>.num_btn:last-child {
  background: url(../img/icon-backspace.png) center no-repeat #EEAF48;
  background-size: .54rem;
}

.use_coupon {
  margin: .64rem auto .82rem;
}

.use_coupon>h4 {
  text-align: center;
  font-size: 0.53rem;
  color: #9D9D9C;
  margin-bottom: .68rem;
}

.use_coupon .cur_coupon {
  color: #EEAF48 !important;
  position: relative;
}

.cur_coupon .coupon_name {
  display: block;
  width: 7.3rem;
}

.no-coupon .coupon_name {
  width: 100%;
  text-align: center;
}

.container_layer {
  width: 7rem;
  margin: 0 auto;
}

.container_layer .input_layer {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: .8rem;
}

.coupon_layer {
  width: 11.5rem !important;
}

.coupon_layer .layui-m-layercont {
  padding: 1.5rem 0 .5rem;
}

.c_list_layer li {
  margin-bottom: .4rem;
  font-size: .37rem;
  color: #d6d6d6;
  line-height: .65rem;
  background: url(../img/icon-unchecked.png) right no-repeat;
  background-size: .6rem;
  text-align: left;
}

.c_list_layer .coupon_checked {
  background: url(../img/icon-checked.png) right no-repeat;
  background-size: .6rem;
}