@import "header.css";
@import "footer.css";
#list_page_container {
  background: #fff;
}

.tabs {
  border-bottom: 1px #D6D6D6 solid;
  padding: .44rem 0;
}

.tabs .single_tab {
  flex: 1;
  font-size: 0.6rem;
  color: #D6D6D6;
  text-align: center;
  line-height: 0.8rem;
  border-right: 1px #D6D6D6 solid;
}

.tabs .single_tab:last-child {
  border-right: none;
}

.list_container {
  padding: 0 .36rem 1rem;
}

.list_search {
  margin-top: .38rem;
  height: 1.4rem;
}

.list_search input {
  display: block;
  flex: 1;
  border: 1px #E5E5E5 solid;
  padding: .42rem .34rem;
  font-size: .53rem;
}

.list_search .sch_btn {
  display: block;
  width: 3.6rem;
  height: 1.4rem;
  background: url(../img/icon-search.png) .86rem .5rem no-repeat #E5E5E5;
  background-size: .44rem;
  font-size: 0.53rem;
  color: #C4C4C4;
  line-height: 1.4rem;
  letter-spacing: .2rem;
  padding-left: .75rem;
}

.tab_container .tab_page {
  display: none;
}

.tab_container .tab_page:first-child {
  display: block;
}

.tab_container {
  margin-top: .38rem;
}

.simlpe_list li {
  padding: .4rem .38rem;
  height: 3rem;
  border-radius: .1rem;
  border: 1px #D6D6D6 solid;
  margin-bottom: .38rem;
}

.simlpe_list li .list_img {
  width: 3.42rem;
  height: 2.2rem;
  margin-right: .4rem;
  object-fit: cover;
}

.simlpe_list li .list_content {
  flex: 1;
  position: relative;
  height: 2.2rem;
  font-size: 0.53rem;
  color: #717171;
  line-height: 0.57rem;
}

.simlpe_list li .list_content h3 {
  font-size: 0.53rem;
  line-height: 0.57rem;
}

.removeable_box {
  position: absolute;
  right: -0.4rem;
  bottom: 0;
}

.removeable_box button {
  font-size: 0.47rem;
  line-height: 0.57rem;
  margin: 0 .16rem;
  background: none;
  letter-spacing: .2rem;
}