@import "header.css";
@import "footer.css";
.two-color-btn {
  display: block;
  font-size: 0.4rem;
  color: #fff;
  line-height: 0.5rem;
  padding: .16rem .3rem;
}

.tcb-l {
  float: left;
  border-top-left-radius: .2rem;
  border-bottom-left-radius: .2rem;
}

.tcb-r {
  float: right;
  border-top-right-radius: .2rem;
  border-bottom-right-radius: .2rem;
}

#list_page_container {
  background: #fff;
}

.tabs {
  border-bottom: 1px #D6D6D6 solid;
  padding: .44rem 0;
}

.tabs .single_tab {
  flex: 1;
  font-size: 0.6rem;
  color: #D6D6D6;
  text-align: center;
  line-height: 0.8rem;
  border-right: 1px #D6D6D6 solid;
}

.tabs .single_tab:last-child {
  border-right: none;
}

.list_container {
  padding: 0 .36rem 1rem;
}

.no-padding-list {
  padding: 0 0 1rem;
}

.list_search {
  margin-top: .38rem;
  height: 1.4rem;
}

.list_search input {
  display: block;
  flex: 1;
  border: 1px #E5E5E5 solid;
  padding: .42rem .34rem;
  font-size: .53rem;
}

.list_search .sch_btn {
  display: block;
  width: 3.6rem;
  height: 1.4rem;
  background: url(../img/icon-search.png) .86rem .5rem no-repeat #E5E5E5;
  background-size: .44rem;
  font-size: 0.53rem;
  color: #C4C4C4;
  line-height: 1.4rem;
  letter-spacing: .2rem;
  padding-left: .75rem;
}

.tab_container .tab_page {
  display: none;
}

.tab_container .tab_page:first-child {
  display: block;
}

.tab_container {
  margin-top: .38rem;
}

.simlpe_list>li {
  padding: .4rem .38rem;
  height: 3rem;
  border-radius: .1rem;
  border: 1px #D6D6D6 solid;
  margin-bottom: .38rem;
}

.simlpe_list li .list_img {
  width: 3.42rem;
  height: 2.2rem;
  margin-right: .4rem;
  object-fit: cover;
}

.simlpe_list li .list_content {
  flex: 1;
  position: relative;
  height: 2.2rem;
  font-size: 0.53rem;
  color: #717171;
  line-height: 0.57rem;
}

.simlpe_list li .list_content h3 {
  font-size: 0.53rem;
  line-height: 0.57rem;
}

.removeable_box {
  position: absolute;
  right: -0.4rem;
  bottom: 0;
}

.removeable_box button {
  font-size: 0.47rem;
  line-height: 0.57rem;
  margin: 0 .16rem;
  background: none;
  letter-spacing: .2rem;
}

.three_line_list>li {
  padding: 0 .56rem;
  border-bottom: 1px #D6D6D6 solid;
}

.three_line_list li .list_title {
  padding: .22rem 0 .22rem .86rem;
  background: url('../img/icon-shop.gif') left no-repeat;
  background-size: .68rem;
}

.three_line_list li .list_title>a {
  color: #717171;
  display: inline-block;
  font-size: .53rem;
  line-height: .53rem;
  font-weight: bold;
  padding: .5rem .54rem .5rem 0;
  background: url(../img/icon-arrow.gif) right no-repeat;
  background-size: .34rem;
}

.three_line_list li .list_title .icon-trash {
  width: .56rem;
  height: .74rem;
  background-size: .56rem;
  margin-top: .35rem;
}

.clickable_area {
  display: block;
}

.list_inner_c {
  width: 100%;
}

.list_inner_c .list-item-cover {
  width: 3.42rem;
  height: 2.2rem;
  object-fit: cover;
  margin-right: .08rem;
}

.list_inner_c .list_inner_details {
  flex: 1;
  -webkit-flex: 1;
  margin-right: .1rem;
}

.list_inner_c .list_inner_details>h3 {
  font-size: 0.47rem;
  color: #676767;
  line-height: 0.6rem;
}

.list_inner_c .list_inner_p {
  display: block;
  width: 2rem;
  text-align: right;
  font-size: 0.53rem;
  color: #2C2C2C;
  line-height: 0.57rem;
}

.list_inner_c .short_title {
  margin-right: 3rem;
}

.list_btm_info {
  padding: .88rem 0 .74rem;
}

.list_btm_info .list_status_tag {
  font-size: 0.53rem;
  font-weight: bold;
  line-height: 0.57rem;
  letter-spacing: .2rem;
}

.list_btm_info .list_item_date {
  font-size: 0.53rem;
  font-weight: bold;
  color: #676767;
  line-height: 0.57rem;
}

.list_btm_info .ordered {
  color: #E4393C;
}

.list_btm_info .unordered, .list_btm_info .pay_tip_canceled {
  color: #EEAF48;
}

.list_btm_info .pay_tip_done {
  color: #0CAFAE;
  letter-spacing: .1rem;
}

.list_btm_info .untiped {
  color: #A7A7A7;
}

.list_btm_info .tiped {
  color: #0CAFAE;
}

.order_m_list>li {
  padding: .56rem 0;
  height: auto;
}

.order_m_list li img {
  width: 5.32rem;
  height: 2.76rem;
  object-fit: cover;
  margin-right: .52rem;
}

.order_m_list li .list_inner_details {
  flex: 1;
  -webkit-flex: 1;
}

.order_m_list li .list_inner_details h3 {
  font-size: 0.4rem;
  letter-spacing: .3rem;
  color: #107A79;
  line-height: 0.57rem;
  margin-bottom: .38rem;
}

.l_i_content li {
  font-size: 0.4rem;
  color: #AAAAAA;
  line-height: 0.57rem;
  margin-bottom: .38rem;
}

.l_i_content li .o_m_date {
  margin-left: .2rem
}

.l_i_content li:last-child {
  margin-bottom: 0;
}

.q_n_top {
  text-align: right;
  padding: .52rem 0 .4rem;
}

#new_q_n {
  display: inline-block;
  border-radius: .2rem;
  padding: .22rem .36rem;
  font-size: 0.4rem;
  color: #AEAEAE;
  line-height: 0.57rem;
  border: 1px #D6D6D6 solid;
  background: none;
}

.q_n_list li {
  font-size: 0.47rem;
  color: #3B3B3B;
  line-height: 0.57rem;
  height: auto;
}

.q_n_list li .q_n_content {
  height: 1.96rem;
}

.q_n_list li .q_n_options {
  text-align: right;
}

.q_n_list li .q_n_options span {
  margin-left: .38rem;
  text-decoration: underline;
}

/*layer style*/

.bg-g-title h3 {
  background-color: #41c416 !important;
}

.bg-g-title #layer-input {
  display: block;
  font-size: 0.47rem;
  color: #151515;
  line-height: .7rem;
  border: 1px #D6D6D6 solid;
  border-radius: .2rem;
  padding: .5rem;
  width: 100%;
  resize: none;
  height: 4rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.bg-g-title .layui-m-layercont {
  padding: .5rem .3rem;
}

.coupon_list {
  padding: .6rem 0 1rem;
}

.coupon_list li {
  height: auto;
  position: relative;
  padding: 0;
}

.coupon_list li .c_cover {
  width: 4.42rem;
  height: 3.56rem;
  background: #00B1FE;
  border-radius: 0.2rem;
  color: #fff;
  text-align: center;
  padding-top: 1.28rem;
  margin-right: .48rem;
}

.coupon_list li .c_cover h4 {
  font-size: 0.8rem;
  line-height: 0.57rem;
  margin-bottom: .3rem;
  font-weight: bold;
}

.coupon_list li .c_cover h4::before {
  content: '￥';
  font-size: 0.47rem;
  margin-right: .3rem;
  font-weight: normal;
}

.coupon_list li .c_cover p {
  font-size: 0.4rem;
  line-height: 0.57rem;
}

.coupon_list li .c_detail {
  width: 8rem;
  padding-top: .76rem;
  height: 3.56rem;
}

.coupon_list li .c_detail h3 {
  font-size: 0.47rem;
  color: #107A79;
  line-height: 0.57rem;
  margin-bottom: .58rem;
}

.coupon_list li .c_detail p {
  font-size: 0.4rem;
  color: #AAAAAA;
  line-height: 0.57rem;
}

.coupon_list li .c_detail p b {
  margin-left: .4rem
}

.coupon_list li .c-tags {
  position: absolute;
  display: block;
  width: 1.28rem;
  height: 1.23rem;
  top: 0;
  right: 0;
}

.coupon_list li .t-unused {
  background: url(../img/icons_c_tags_01.gif) center no-repeat;
  background-size: 1.28rem;
}

.coupon_list li .t-used {
  background: url(../img/icons_c_tags_02.gif) center no-repeat;
  background-size: 1.28rem;
}

.coupon_list li .t-expired {
  background: url(../img/icons_c_tags_03.gif) center no-repeat;
  background-size: 1.28rem;
}

.coupon_list li .icon-trash {
  position: absolute;
  bottom: .34rem;
  right: .28rem;
}

.my_rec {
  padding-top: .74rem;
}

.my_rec li {
  height: auto;
  position: relative;
}

.my_rec li h3 {
  font-size: 0.47rem;
  line-height: 0.57rem;
  margin-bottom: .38rem;
}

.rec_details {
  width: 70%;
  font-size: 0.4rem;
  color: #AAAAAA;
  line-height: 0.57rem;
}

.rec_details p, .rec_details .p_type ul li {
  margin-bottom: .38rem;
}

.rec_details .p_type ul li:last-child {
  margin-bottom: 0
}

.rec_details .p_type span {
  display: block;
}

.rec_details .p_type ul {
  flex: 1;
  -webkit-flex: 1;
}

.my_rec .rec_time {
  font-size: 0.4rem;
  color: #AAAAAA;
  line-height: 0.57rem;
  right: .38rem;
  bottom: .4rem;
}

.q_n_list .flexBox img {
  width: 3.42rem;
  height: 2.2rem;
  object-fit: cover;
}

.q_n_list .flexBox .item_name {
  flex: 1;
  -webkit-flex: 1;
  margin: 0 .08rem;
  font-size: 0.47rem;
  color: #676767;
  line-height: 0.6rem;
}

.q_n_list .flexBox .item_options {
  height: 2.2rem;
}

.q_n_list .flexBox .item_options .i_price {
  font-size: 0.53rem;
  color: #2C2C2C;
  line-height: 0.57rem;
  text-align: right;
  margin-bottom: 1.05rem;
}

.q_n_list .flexBox .item_options .i_price::before {
  content: '￥'
}

.integral_manage li {
  padding-top: .6rem;
  padding-bottom: .6rem;
}

.integral_manage li .list_inner_c .list-item-cover {
  width: 4.7rem;
  height: 3.02rem;
  margin-right: .66rem;
}

.integral_manage .list_inner_details p {
  font-size: 0.47rem;
  color: #676767;
  line-height: 0.6rem;
  margin-bottom: .62rem
}

.integral_manage .list_inner_details p:last-child {
  margin-bottom: 0;
}

.integral_manage .list_inner_details .i_m_rest::before {
  content: "剩余积分";
}

.integral_manage li .list_inner_c .list_inner_p {
  width: auto;
  padding-top: 2.2rem;
}

.c-rec .rec_content {
  margin-bottom: .48rem;
  text-align: left;
}

.c-rec .rec_content div {
  font-size: 0.4rem;
  color: #363636;
  line-height: 0.57rem;
  margin-bottom: .38rem;
}

.c-rec .rec_content .p_type {
  margin-bottom: 0;
}

.c-rec .rec_content>span {
  font-size: 0.33rem;
  line-height: .4rem;
}

.c-rec>li {
  text-align: center;
  padding-top: .62rem;
  padding-bottom: .58rem;
}

.c-rec .rec_content .p_type ul li {
  margin-bottom: .38rem;
}

.two-btn-container {
  display: inline-block;
  border-radius: .2rem;
  overflow: hidden;
}

.two-btn-container .two-color-btn {
  padding: .3rem 0;
  width: 3.5rem;
}

.two-btn-container .c_r_accept, .two-btn-container .c_r_contact {
  background: #42D61E;
}

.two-btn-container .c_r_refuse {
  background: #FFCA00;
}

.two-btn-container .c_r_delete {
  background: #F46167;
}

.chat_user {
  color: #9A9A9A;
  text-align: left;
  margin-bottom: .3rem;
}

.chat_user .chat_userface {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 1.1rem;
  object-fit: cover;
  margin-right: .72rem;
}

.chat_user .chat_user_info {
  display: block;
  flex: 1;
  -webkit-flex: 1;
  font-size: 0.53rem;
  font-family: MicrosoftYaHeiLight;
  color: rgba(154, 154, 154, 1);
  line-height: 0.57rem;
}

.chat_user .chat_user_info h3 {
  padding: .3rem 0;
  margin-bottom: .3rem;
}

.msg_content {
  width: 100%;
  text-align: left;
  min-height: 2.46rem;
  padding: .38rem;
  background: #F9F9F9;
  font-size: 0.53rem;
  color: #7F7F7F;
  line-height: 0.57rem;
  border: 1px #E5E5E5 solid;
}

.coupon_layer .q_n_list {
  width: 100%;
}

.coupon_layer .q_n_list li {
  border: 1px #E5E5E5 solid;
  margin-bottom: .3rem;
  padding: .4rem;
  font-size: 0.53rem;
  color: #7F7F7F;
  line-height: 0.57rem;
}

.coupon_layer .q_n_list .q_n_choose {
  border-color: #41C515;
  color: #41C515;
}

.integral {}

.integral p {
  width: 7rem;
  font-size: .46rem;
  color: #EEAF48;
  line-height: .5rem;
  margin: 0 auto .57rem;
  text-align: left !important;
}

.integral .i_remain {
  margin-bottom: 1.28rem;
}

.integral .use_value {
  border: 1px #E1E1E1 solid;
  border-radius: .2rem;
  color: #AAAAAA;
  font-size: .46rem;
  padding: .4rem;
  width: 7rem;
  display: block;
  margin: 0 auto;
}

.integral h3 {
  width: 7rem;
  margin: 0 auto .6rem;
  font-size: .46rem;
  line-height: .6rem;
  color: #AAAAAA;
}

.integral input[type="tel"] {
  width: 7rem;
  display: block;
  margin: 0 auto;
  border: 1px #E1E1E1 solid;
  padding: .4rem;
  text-align: center;
}