@import "header.css";
@import "footer.css";
#simple_page_container {
  display: block;
  text-align: center;
}

.cash_c_d {
  padding-top: 3rem;
}

.shop_album {
  padding: .4rem .34rem;
}

.cash_c_d .shop_title {
  font-size: 1rem;
  font-family: MicrosoftYaHei;
  color: #8A8A8A;
  line-height: 1rem;
  text-align: center;
  margin-bottom: 3rem;
}

.cash_c_d .detail_box {
  min-width: 7rem;
  max-width: 13rem;
  display: inline-block;
  font-size: 0.67rem;
  color: #777777;
  line-height: 1rem;
  margin-bottom: .44rem;
  text-align: left;
}

.cash_c_d .share_notice {
  text-align: center;
  font-size: 0.53rem;
  line-height: .6rem;
  margin-bottom: 4rem;
}

.cash_c_d .use_coupon {
  display: block;
  width: 7.56rem;
  height: 1.24rem;
  background: #41C416;
  border-radius: 0.2rem;
  font-size: 0.67rem;
  color: #fff;
  line-height: 1.24rem;
  text-align: center;
  margin: 0 auto;
  letter-spacing: .1rem;
  padding-left: .05rem;
}

.shop_album .album_list li {
  width: 7rem;
  height: 4.4rem;
  position: relative;
  margin: 0 .24rem .28rem 0;
  float: left;
}

.shop_album .album_list li img {
  width: 7rem;
  height: 4.4rem;
  object-fit: cover;
  border-radius: .2rem;
}

.shop_album .album_list li:nth-child(even) {
  margin-right: 0
}

.shop_album .album_list #album_add {
  border: 1px #D6D6D6 solid;
  border-radius: .2rem;
  background: url(../img/icon-add.png) center no-repeat;
  background-size: 1.92rem;
}

.payment_detail {
  padding: 3rem .84rem 1rem;
}

.payment_detail .p_title_box {
  text-align: left;
}

.payment_detail .p_title_box h3 {
  font-size: 0.67rem;
  color: #8A8A8A;
  line-height: 0.67rem;
  margin-bottom: .44rem;
}

.payment_detail .p_title_box .item_name {
  font-size: 0.6rem;
  color: #8A8A8A;
  line-height: 0.6rem;
  margin-bottom: 1.22rem;
}

.coupon_manage {
  padding: 1.7rem 1.98rem;
  text-align: left !important;
}

.coupon_list li {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.coupon_list li .coupon_detail {
  width: 100%;
  margin-bottom: .9rem;
}

.cou_detail_box {
  flex: 1;
  -webkit-flex: 1;
  margin-right: 1rem;
}

.cou_detail_box h3 {
  font-size: 0.6rem;
  color: #2C2C2C;
  line-height: 0.62rem;
  margin-bottom: .6rem;
  text-align: left;
}

.cou_detail_box h3 span {
  margin-left: .1rem;
}

.cou_detail_box .use_condition {
  font-size: 0.47rem;
  display: block;
  color: #676767;
  line-height: 0.6rem;
  text-align: left;
}

.coupon_list li .coupon_detail .coupon_cover {
  width: 3.42rem;
  height: 2.2rem;
}

.coupon_options .option_l {
  font-size: 0.53rem;
  font-weight: bold;
  color: #676767;
  line-height: 0.57rem;
}

.coupon_options .clickable_span {
  font-size: 0.47rem;
  line-height: 0.57rem;
  margin-right: .32rem;
}

.smPage_btn {
  display: block;
  width: 8.2rem;
  padding: .42rem 0;
  color: #fff;
  font-size: .6rem;
  text-align: center;
  margin: 0 auto;
}