@import "header.css";
@import "footer.css";
#simple_page_container {
  display: block;
  text-align: center;
  padding-bottom: 1rem;
}

.cash_c_d {
  padding-top: 3rem;
}

.shop_album {
  padding: .4rem .34rem;
}

.cash_c_d .shop_title {
  font-size: 1rem;
  font-family: MicrosoftYaHei;
  color: #8A8A8A;
  line-height: 1rem;
  text-align: center;
  margin-bottom: 3rem;
}

.cash_c_d .detail_box {
  min-width: 7rem;
  max-width: 13rem;
  display: inline-block;
  font-size: 0.67rem;
  color: #777777;
  line-height: 1rem;
  margin-bottom: .44rem;
  text-align: left;
}

.cash_c_d .share_notice {
  text-align: center;
  font-size: 0.53rem;
  line-height: .6rem;
  margin-bottom: 4rem;
}

.cash_c_d .use_coupon {
  display: block;
  width: 7.56rem;
  height: 1.24rem;
  background: #41C416;
  border-radius: 0.2rem;
  font-size: 0.67rem;
  color: #fff;
  line-height: 1.24rem;
  text-align: center;
  margin: 0 auto;
  letter-spacing: .1rem;
  padding-left: .05rem;
}

.shop_album .album_list li {
  width: 7rem;
  height: 4.4rem;
  position: relative;
  margin: 0 .24rem .28rem 0;
  float: left;
}

.shop_album .album_list li img {
  width: 7rem;
  height: 4.4rem;
  object-fit: cover;
  border-radius: .2rem;
}

.shop_album .album_list li:nth-child(even) {
  margin-right: 0
}

.shop_album .album_list #album_add {
  border: 1px #D6D6D6 solid;
  border-radius: .2rem;
  background: url(../img/icon-add.png) center no-repeat;
  background-size: 1.92rem;
}

.payment_detail {
  padding: 3rem .84rem 1rem;
}

.payment_detail .p_title_box {
  text-align: left;
}

.payment_detail .p_title_box h3 {
  font-size: 0.67rem;
  color: #8A8A8A;
  line-height: 0.67rem;
  margin-bottom: .44rem;
}

.payment_detail .p_title_box .item_name {
  font-size: 0.6rem;
  color: #8A8A8A;
  line-height: 0.6rem;
  margin-bottom: 1.22rem;
}

.coupon_manage {
  padding: 1.7rem 1.98rem;
  text-align: left !important;
}

.coupon_list li {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.coupon_list li .coupon_detail {
  width: 100%;
  margin-bottom: .9rem;
}

.cou_detail_box {
  flex: 1;
  -webkit-flex: 1;
  margin-right: 1rem;
}

.cou_detail_box h3 {
  font-size: 0.6rem;
  color: #2C2C2C;
  line-height: 0.62rem;
  margin-bottom: .6rem;
  text-align: left;
}

.cou_detail_box h3 span {
  margin-left: .1rem;
}

.cou_detail_box .use_condition {
  font-size: 0.47rem;
  display: block;
  color: #676767;
  line-height: 0.6rem;
  text-align: left;
}

.coupon_list li .coupon_detail .coupon_cover {
  width: 3.42rem;
  height: 2.2rem;
}

.coupon_options .option_l {
  font-size: 0.53rem;
  font-weight: bold;
  color: #676767;
  line-height: 0.57rem;
}

.coupon_options .clickable_span {
  font-size: 0.47rem;
  line-height: 0.57rem;
  margin-right: .32rem;
}

.smPage_btn {
  display: block;
  width: 8.2rem;
  padding: .42rem 0;
  color: #fff;
  font-size: .6rem;
  text-align: center;
  margin: 0 auto;
  border-radius: 0.2rem;
}

.appointment_details {
  text-align: left !important;
}

.a_d_cover {
  width: 15rem;
  height: 7.6rem;
  object-fit: cover;
  margin-bottom: 1.36rem;
}

.a_item_details {
  padding: 0 .96rem;
  color: #000;
}

.a_item_details>h2 {
  font-size: 0.6rem;
  line-height: 0.62rem;
  margin-bottom: .96rem;
  font-weight: bold;
}

.a_item_details .a_desc {
  margin-bottom: 1.44rem;
  font-size: 0.5rem;
  line-height: 0.8rem;
  font-weight: lighter;
}

.small_spacing_btn {
  width: 5.14rem;
  letter-spacing: .3rem;
  padding-left: .3rem;
}

.item_name {
  text-align: left !important;
}

.i_n_name {
  letter-spacing: .05rem;
}

.order_pay_btn {
  width: 8.6rem;
  position: relative;
  margin: 3.28rem auto .38rem;
}

.order_pay_btn a, .order_pay_btn .choose_middle {
  display: block;
  text-align: center;
}

.order_pay_btn a {
  width: 4.2rem;
  height: 1.4rem;
  color: #fff;
  font-size: 0.6rem;
  line-height: 1.4rem;
  letter-spacing: .3rem;
  padding-left: .3rem;
}

.order_pay_btn #order_btn {
  border-top-left-radius: .2rem;
  border-bottom-left-radius: .2rem;
}

.order_pay_btn #pay_btn {
  border-top-right-radius: .2rem;
  border-bottom-right-radius: .2rem;
}

.choose_middle {
  position: absolute;
  width: 1.16rem;
  height: 1.16rem;
  background: #fff;
  border-radius: .58rem;
  font-size: 0.8rem;
  line-height: 1.16rem;
  color: #646464;
  font-weight: lighter;
  left: 50%;
  margin-left: -.58rem;
  top: .12rem;
}

.get_coupon {
  padding-top: 3.66rem;
}

.get_coupon>h3 {
  font-size: 0.67rem;
  color: #8A8A8A;
  line-height: 0.57rem;
  margin-bottom: .92rem;
}

.get_coupon .g_coupon_cover {
  width: 11.14rem;
  margin: 0 auto 5.72rem;
}

.bind_userface {
  width: 3.1rem;
  height: 2rem;
  object-fit: cover;
  margin: 1.2rem auto 1.14rem;
}

.bind_username {
  font-size: 0.53rem;
  color: #8A8A8A;
  line-height: 0.57rem;
  margin-bottom: 3.66rem;
}

.confirm_msg {
  font-size: 0.53rem;
  color: #8A8A8A;
  line-height: 0.57rem;
  margin-bottom: 1.24rem;
}